
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/*
p{
    color: pink
}
*/
*{
    box-sizing: border-box;
}

header{
    background-color: plum;
    color: saddlebrown;
    border: 2px solid red;
   
    font-family: 'Roboto', cursive, sans-serif ;
    font-weight: 300; /*en header no da bola font waeight*/
    font-size: 1em;
    width: 800px;
    margin: 50px;
    padding-left: 500px;
}

/*selectores grupales*/

article,p{
    color: pink;
    text-align:justify;
    font-style: italic;
    text-transform: capitalize ;
}

h1{
    font-weight: 400;
    width: 300px;
   
  
}

nav a{
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover{
    background-color: black;
    color: azure;
   
}
footer{
   /* border: 2px solid orange;*/
    height: 500px;
    background-image: url(../images/obligado.jpg);
    background-repeat: repeat-x;
    background-size: 100px;
    border-top-style: solid ;
    border-top-width: 5px;
    border-top-color:blue;

    border-bottom-style:dotted ;
    border-bottom-width: 10px;
    border-bottom-color:rgb(255, 0, 43);

    margin: 20px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}


input{
    display:block;
    border-radius: 3PX;
    border-color: RED;
}